<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Finishing the Wood</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div th:insert="fragments/_header :: header"></div>
<h2>Step 3: Add a Clear Protective Finish</h2>
<img class="left" th:src="@{/img/wood-finish.jpg}" alt="Wood Finish">
<p>
    After staining, always top coat with a clear protective finish. It will protect the wood against water, household
    chemicals, food stains and everyday wear. Tip: To minimize brush marks and bubbles, "tip off" each section of your
    project before the finish dries. Hold the brush at a 45-degree angle and lightly run the bristles over the entire
    length of wood.
</p>
<p>
    Content taken from <a href="https://minwax.com/how-to-finish-wood/three-easy-steps-to-a-beautiful-finish/">Minwax.</a>
</p>
<div th:insert="fragments/_footer :: footer"></div>
</body>
</html>